html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto";
  background-color: #2d3c49;
}

h1,
h2,
h5 {
  font-weight: 100;
  margin: 0;
}

h1 {
  font-size: 3em;
  padding-top: 1%;
}

h5 {
  font-weight: 300;
  font-size: 1.5em;
}

a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}

a:link {
  color: #7d97ad;
}

a:visited {
  color: #025e77;
}

a:focus {
  border-bottom: 1px solid;
  background: #4ad5fc;
}

a:hover {
  border-bottom: 1px solid;
  background: #02b3e4;
  color: #000;
}

footer {
  border-top: solid #7d97ad;
  border-width: thin;
}

.body-container {
  margin: 2% 5% 1%;
  padding: 1% 8% 1%;
  background-color: #fff;
}

.header-container {
  display: flex;
  flex-wrap: wrap;
  /* align-items: flex-end; */
  border-bottom: solid #7d97ad;
  padding: 0;
}

.logo {
  width: 20%;
  display: inline-block;
  vertical-align: bottom;
}

.header-title {
  width: 80%;
  display: inline-block;
  text-align: right;
}

/* responsive image:
  set width to 100%, height to auto */
.top-image {
  width: 100%;
  height: auto;
  /* height: 350px; */
  padding: 2% 0 4%;
}

.work-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.thumbnail-container {
  margin: 1% 2% 1%;
  padding: 2% 0 2%;
}

.thumbnail-container h2 {
  font-style: italic;
}

.image-thumbnail {
  max-width: 250px;
  max-height: 250px;
}

.text-center {
  text-align: center;
}
